@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nebula';
  src: url('../src/assets/fonts/Nebula-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/poppins-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
